.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 30px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #c68541;
}

a:link {
    color: #c68541;
    text-decoration: none;
} 

a:visited {
    color: #c68541;
}

a:hover {
    color: #4f7978;
} 
